<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:batch="http://www.springframework.org/schema/batch"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
          http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-3.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
">
    
    <!-- annotation configuration -->
    <context:annotation-config />
    <context:component-scan base-package="com.blazartech" />
    <context:component-scan base-package="com.nm" />
    
    <!-- define the transaction manager.  The DAL implementations each define their own version of
         the data transaction manager so we merely need to note it.  Do we even need this? -->
    <tx:annotation-driven transaction-manager="txManager" />
        
    <!-- batch configuration -->
    <alias name="JobRepositoryTransactionManager" alias="transactionManager" />
    
    <!-- daily quote distribution job -->
    <batch:step id="getQuoteOfTheDayStep">
        <batch:tasklet ref="createQuoteOfTheDayTasklet" />
    </batch:step>
    <batch:step id="mailQuoteOfTheDayStep">
        <batch:tasklet ref="mailQuoteOfTheDayTasklet" />
    </batch:step>
    <batch:step id="postQuoteOfTheDayFacebookStep">
        <batch:tasklet ref="postQuoteOfTheDayFacebookTasklet" />
    </batch:step>
    <batch:step id="postQuoteOfTheDayTelegramStep">
        <batch:tasklet ref="postQuoteOfTheDayTelegramTasklet" />
    </batch:step>
    
    <batch:job id="dailyQuoteOfTheDayDistributionJob" restartable="true">
        
        <!-- get the quote of the data in the database -->
        <batch:step id="dailyQuoteOfTheDayDistributionJob_getQuoteStep" parent="getQuoteOfTheDayStep" next="dailyQuoteOfTheDayDistributionJob_distributionSplit" />
        
        <!-- parallel processing for the various distributions -->
        <batch:split id="dailyQuoteOfTheDayDistributionJob_distributionSplit" next="" task-executor="taskExecutor">
            <!-- mail -->
            <batch:flow>                
                <batch:step id="dailyQuoteOfTheDayDistributionJob_distributionSplit_mailStep" parent="mailQuoteOfTheDayStep" />
            </batch:flow> 
                
            <!-- post to facebook -->
            <batch:flow>
                <batch:step id="dailyQuoteOfTheDayDistributionJob_distributionSplit_facebookStep" parent="postQuoteOfTheDayFacebookStep" />
            </batch:flow>
            
            <!-- send to telegram -->
            <batch:flow>
                <batch:step id="dailyQuoteOfTheDayDistributionJob_distributionSplit_telegramStep" parent="postQuoteOfTheDayTelegramStep" />
            </batch:flow>
        </batch:split>
    </batch:job>
    
    <!-- job manager -->
    <bean id="SpringJobManager" class="com.nm.ffba.common.batch.impl.spring.SpringBatchJobManager" scope="singleton">
        <property name="jobs">
            <map>
                <entry key="dailyQuoteOfTheDayDistributionJob" value-ref="dailyQuoteOfTheDayDistributionJob" />
            </map>
        </property>
        <property name="parameterBuilders">
            <map>
                <entry key="dailyQuoteOfTheDayDistributionJob" value-ref="DailyQuoteOfTheDayDistributionJobParametersBuilder" />
            </map>
        </property>
    </bean>

    <alias name="SpringJobManager" alias="jobManager" />
    
    
</beans>
