<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:batch="http://www.springframework.org/schema/batch"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
          http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-3.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
">
    
    <!-- define the transaction manager.  The DAL implementations each define their own version of
    the data transaction manager so we merely need to note it.  Do we even need this? -->
    <tx:annotation-driven transaction-manager="txManager" />
        
    <!-- batch configuration -->
    <alias name="jobRepositoryTransactionManager" alias="transactionManager" />
    
    <!-- job manager -->
    <!-- <util:map id="batchJobMap" key-type="java.lang.String" value-type="org.springframework.batch.core.Job">
        <entry key="dailyQuoteOfTheDayDistributionJob" value-ref="dailyQuoteOfTheDayDistributionJob" />
    </util:map>
    <util:map id="batchJobParameterBuilderMap" key-type="java.lang.String" value-type="com.blazartech.batch.IJobParametersBuilder">
        <entry key="dailyQuoteOfTheDayDistributionJob" value-ref="DailyQuoteOfTheDayDistributionJobParametersBuilder" />
    </util:map> -->
    <alias name="SpringBatchJobManager" alias="jobManager" />
    
    <alias name="JobRepositoryDataSource" alias="dataSource" />
    
    <bean id="conversionService"
          class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.blazartech.products.qotdp.job.config.LinkedMapToQuoteOfTheDayConverter"/>
                <bean class="com.blazartech.products.qotdp.job.config.StringToLocalDateConverter"/>
            </set>
        </property>
    </bean>
    
</beans>
